# Swift Package Manager
.swiftpm/
Package.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Editor / tooling
.idea/
*.swp


# Logs
*.log
